<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}

    {% for message in messages %}    
        <li>{{ message }}</li>    
    {% endfor %}

{% endif %}
    <h1>Hello:{{user.first_name}} Make a wish</h1>
    <form action="/wishes" method='POST'>
        {% csrf_token %}
        <p>
            <label for="item">I wish For</label>
            <input type="text" name="item" id='item'>
        </p>
    
        <p>
            <label for="description">description</label>
            <input type="text" name='description' id='description' required>
        </p>

        <button type="submit">submit</button>
        <a href="/logout">Log Out</a>
        <a href="/wishes">Cancel</a>
    </form>
</body>
</html>